<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home" class="navbar-brand" style="color: rgb(73, 72, 72);">Participant Management Module</a>
      </div>
    
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/participant-detail">Add Participant</a></li>
          <li routerLinkActive="active"><a routerLink="/participant-view">View Participant</a></li>
        </ul>
    </div>
</nav>
  